body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}


#brand .navbar-brand{
  text-align: left;
  color: #f8f9fa;
  font-size: larger;
}


#brand .navbar-brand:hover{
  color: #555555;
  text-decoration: underline;
}


#navbarNav1 .nav-item1:hover{
    color: #555555;
    text-decoration: underline;
}


#navbarNav2 .nav-item2:hover{
    color: #555555;
    text-decoration: underline;
}


#navlist1 {
  margin-left: 0px;
}


#navbarNav1 {
  font-size: large;
}


#navbarNav2 {
  font-size: large;
}

#brand {
  padding-left: 0px;
}

.card { display:flex; flex-direction:column; height:100%; }
.card img.card-img-top { height:180px; width:100%; object-fit:contain; display:block; background:transparent; }
.card .card-body { flex:1; display:flex; flex-direction:column; justify-content:space-between; }


#cardsCarousel .carousel-inner{ max-width:400px; margin:0 auto; }
#cardsCarousel .card{ display:flex; flex-direction:column; height:100%; }
#cardsCarousel .card-img-top{ height:200px; object-fit:contain; background:transparent; }
#cardsCarousel .card-body{ flex:1; }
@media (max-width:576px){ #cardsCarousel .card-img-top{ height:150px; } }